*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Poppins', sans-serif;
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
}
#titulo{
    color:cadetblue;
    font-size: 35px;
    text-align:center;
    margin-bottom: 60px;
}

/*HEADER*/

header{
    width: 100%;
    height: 800px;
    background: rgba(68, 197, 158, 0.473);  /* fallback for old browsers */
    background: linear-gradient(to right, rgba(248, 255, 173, 0.486), rgba(67, 198, 172, 0.466)), url(../assets/LOGO\ TRANSPARENTE.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(248, 255, 173, 0.486), rgba(67, 198, 172, 0.466)), url(../assets/LOGO\ TRANSPARENTE.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size:cover;
    background-attachment:fixed;
    position:relative;

}
nav{
    text-align: right;
    padding: 8px 40px 0 0;
    background: rgba(68, 197, 158, 0.473);  /* fallback for old browsers */
    background: linear-gradient(to right, hsla(65, 100%, 84%, 0.144), rgba(67, 198, 172, 0.466)), url(../assets/LOGO\ TRANSPARENTE.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, hsla(65, 100%, 84%, 0.123), rgba(67, 198, 172, 0.466)), url(../assets/LOGO\ TRANSPARENTE.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover; 
    background-attachment:fixed; 
    position:relative;
    width: 100%;
    height: 50px;
    position: fixed;
}
nav a{
    color: black;
    font-weight:300px;
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
    margin:10px;
    

}
nav a:hover{
    text-decoration:underline;
    color: #1b605b;
}
header #textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content:center;
    flex-direction:column;
    text-align:center;
}
#textos-header h1{
    font-size: 50px;
    color:#1b605b ;
}
#textos-header h2{
    font-size: 30px;
    font-weight: 300px;
    color:#1b605b;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
#contenedor-acerca-de-este-espacio{
    display: flex;
    justify-content:space-evenly;
}
#contenedor #acerca-de-este-espacio img{
    padding: 5px;
    width: 100%;
    height: 900px;
    
}
#acerca-de-este-espacio #contenido-textos{
    padding: 5px;
    width: 100%;
}
.contenido-textos h3 {
    margin-bottom: 20px;
    padding-top: 20px;
    background: hwb(0 50% 50% / 0.096);
    padding: 10px;
    margin-top: 15px;
    
}
.contenido-textos h3 span{
    background:#163935 ;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 1px;
    box-shadow: 0 0 6px 0 rgba (0, 0, 0, .5);
    margin-right: 5px;
    font-size: 21px;
}
.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;

}
#servicios {
    height: 48%;
    margin-left: 100px;
    margin-right: 10px;
}
.hover-imagenes img{
    width:500px;
    margin-left: 60px;
    
    
}
#enviarCv{
    text-align: center;
    margin-top: 30px;
    
}
#enviarCv{
    text-align: center;
    padding-left: 100px;
    padding-top: 20px;
    background-color:rgba(27, 96, 91, 0.103);
}

.formulario{
    background: #cae3e1;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    
}
#contacto{

    text-align:center;
    padding:20px;
    padding-top: 20px;
    background-color:rgba(27, 96, 91, 0.103);
    margin-top:20px;
    

}
#contacto {
    width: 100%;
    margin-top:20px;
    
}
 #contacto{
    background:#cae3e1;
    color: #1b605b;
    margin: 10px;
}
.titulo-final{
    text-align: right;
}
footer{
    text-align: center;
}

/*CLASE WHATSAPP*/
.boton-whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 70px;
    right: 25px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    z-index: 100;
    transition: all .3s ease;
    }
    .wht-flotante {
    margin-top: 14px;
    }





/*MEDIA QUERIS, RESPONSIVE*/

@media screen and (max-width:450px){

header{
    background-position: center;
    width: 100%;
    height: 450px;
 }
 .contenedor{
    padding: 60px 0;
    width: 60%;
    max-width: 600px;
    overflow: hidden;
 }
 #titulo{
    color:cadetblue;
    font-size: 30px;
    text-align:center;
    margin-bottom: 30px;
 }
 #contenedor-acerca-de-este-espacio{
     flex-direction: column;
     justify-content: center;
     align-items: center;

}
#acerca-de .hover-imagenes img{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
nav{
    text-align: center;
    padding: 4px 20px 0 0;
    background: rgba(68, 197, 158, 0.473);  /* fallback for old browsers */
    background: linear-gradient(to right, hsla(65, 100%, 84%, 0.144), rgba(67, 198, 172, 0.466)), url(../assets/LOGO\ TRANSPARENTE.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, hsla(65, 100%, 84%, 0.123), rgba(67, 198, 172, 0.466)), url(../assets/LOGO\ TRANSPARENTE.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover; 
    background-attachment:fixed; 
    position:relative;
    width: 100%;
    height: 30px;
    position: fixed;
}

nav a{
    color: black;
    font-weight:150px;
    text-decoration: none;
    font-size: 15px;
    margin-right: 8px;
    margin:8px;
    text-align: center;
    
}
    
.hover-imagenes img{
    width:300px;
    margin-left:20px;
}
#servicios p{
    height: 100%;
    text-align: justify;
    justify-content: left;
    padding-left: 10px;
    
}
.contenido-textos p{
    padding: 0px 0px 5px 5px;
    font-weight: 200px;
    text-align:justify;
  }
}